STRIPE_PRICE_ID=price_1SmNv9EloIKRmJhkQhrNfQ2G
SUPABASE_URL=https://gloprlbtykhwnavjmkvn.supabase.co
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imdsb3BybGJ0eWtod25hdmpta3ZuIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MzQ4NTIzMywiZXhwIjoyMDg5MDYxMjMzfQ.H-JbTumBXCrB_n0zpURcpgX3o90iRCgOu39HAN3f0is
RESEND_API_KEY=re_9tyAVCRW_JWJ8bFAPbQZfNQgjUaxxhZXG
RESEND_FROM_EMAIL=thewolcollective@gmail.com
DROP_ADMIN_SECRET=Praiseisthegoat 
SITE_URL=https://thewolcollective.com
NEXT_PUBLIC_SITE_URL=https://thewolcollective.com
LAUNCH_DISCOUNT_PERCENT=10
DROP_GO_LIVE_AT=2026-04-30T18:00:00Z